@import 'variables';
@import 'calendar';

.dt-btn {
  display: inline-block;
  cursor: pointer;
  line-height: 1;
  background-color: $blue;
  padding: 1rem 1.5rem;
  text-align: center;
  color: $white;
  font-size: 16px;
  border: 0;
  border-radius: 3px;
  opacity: .8;

  &:hover, &:focus, &:active {
    opacity: 1;
  }
}

.dt-actions {
  margin-top: 10px;
  text-align: right;
}

.dt-hidden {
  display: none !important;
}

.dt-input-container {
  margin-bottom: 20px;
  position: relative;
}

.dt-inputs {
  display: flex;
}

.dt-input-time {
  width: 5rem;
  margin-left: .8rem;
}

.dt-input-date {
  width: 8rem;
}