@import 'variables';
@import 'calendar';
@import 'time';
@import 'slider';

.dt-btn {
  display: inline-block;
  background-color: #ffffff;
  border: 0;
  outline: 0;
  cursor: pointer;
  line-height: 1;
  width: 50%;

  &:before {
    margin-right: 6px;
  }
}

.dt-actions {
  text-align: right;
}

.dt-hidden {
  display: none !important;
}

.dt-input-container {
  margin-bottom: 20px;
  position: relative;
}

.dt-close {
  margin-top: 10px;
  background-color: $blue;
  padding: 12px 0;
  text-align: center;
  color: $white;
  font-size: 16px;
  border-radius: 3px;
}
